body{
    background: url('images/books.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
}
p{
    margin-top: 112vh;
}
.nav
{
    /* position:absolute; */
    width: 80%;
    height: 100px;
    margin: 0px auto;
    /* position: fixed; */
    
    /* text-align: center; */
    /* float: left; */
}
.nav ul{
    padding: 0px;
    position: fixed;

}
.main li{
    float: left;
    background: black;
    color: white;
    width: 200px;
    text-align: center;
    list-style: none; 
    opacity: 0.4;
    padding: 10px 0px 10px 0px;
}
.main li ul{
    display: none;
    position: unset;
}
.main li:hover> .sub-m{
    display: block;
    opacity: 0.9;
    
}
.main li:hover{
    background: thistle;
    cursor: pointer;
    opacity: 0.9;
}
.sub-m li:hover{
    background: slategrey;
}
.sub-m li:hover> .sub
{
    display: inline-block;
    background-color: red;
    position:absolute;
    left: 150px;
}
.sub-m li{
    position: relative;
}
/* .sub{
    position: absolute;
    right: 200px;
}
.sub{
    position:absolute;
    right:240px;
} */